.sole-placeholder {
  width: 250px;
  object-position: center;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  @apply my-4;
  transition: all 0.35s ease-in-out;

  &.active {
    &:before {
      content: '';
      position: absolute;
      height: 80%;
      width: 120%;
      top: 10%;
      bottom: 10%;
      animation-name: alt-vertical-translation;
      animation-duration: 1.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      border-top: 1px solid red;
      border-bottom: 1px solid red;
    }

    &:after {
      animation-name: alt-horizontal-translation;
      animation-duration: 1.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      border-left: 1px solid red;
      border-right: 1px solid red;
      content: '';
      position: absolute;
      height: 120%;
      top: 0;
      width: 80%;
    }

    @keyframes alt-vertical-translation {
      0% {
        transform: scaleY(1);
      }
      50% {
        transform: scaleY(0.25);
      }
      100% {
        transform: scaleY(1);
      }
    }
    @keyframes alt-horizontal-translation {
      0% {
        transform: scaleX(1);
      }
      50% {
        transform: scaleX(0.25);
      }
      100% {
        transform: scaleX(1);
      }
    }
  }

  &:hover {
    transform-origin: center;
    opacity: 0.75;
  }
}

.plazma-card {
  margin: 30px auto;
  position: relative;
  text-align: center;
  box-sizing: content-box;
  min-width: 300px;
  overflow: hidden;
  max-width: 693px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  .headline-text {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    letter-spacing: -0.2px;
margin-bottom: 40px;
    color: #000000;
  }
  .response-text {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    /* or 100% */
    letter-spacing: -0.2px;
margin-bottom: 40px;
    color: #000000;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
  }
}
